DATABASE_URL=
REDIS_URL=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemma-4-31b-it:free,

TAVILY_API_KEY=
NEWSDATA_API_KEY=
OMDB_API_KEY=
UNSPLASH_ACCESS_KEY=
NOTION_ACCESS_TOKEN=

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440