DATABASE_URL=
REDIS_URL=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=poolside/laguna-s-2.1:free,

TAVILY_API_KEY=
NEWSDATA_API_KEY=
OMDB_API_KEY=
UNSPLASH_ACCESS_KEY=
NOTION_ACCESS_TOKEN=

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440