DATABASE_URL=
REDIS_URL=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=nvidia/nemotron-3-ultra-550b-a55b:free,

TAVILY_API_KEY=
NEWSDATA_API_KEY=
OMDB_API_KEY=
UNSPLASH_ACCESS_KEY=
NOTION_ACCESS_TOKEN=

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440